{% extends 'main.html' %}

{% block content %}

    <div class="container">
        <h1>Country Page | <a href="{% url 'create-country' %}">+Create Country</a></h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Country Name</th>
                    <th scope="col">Population</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
            </thead>
            {% for country in countries %}
            <tr>
              <td>{{country.cname}}</td>
              <td>{{country.population}}</td>
              <td><a href="{% url 'update-country' country.id %}">edit</a></td>
              <td><a href="{% url 'delete-country' country.id %}"><i class="fa fa-trash-o"></i></a></td>
            </tr>
            {% endfor %}
          </table>
    </div>

{% endblock %}