{% extends 'main.html' %} {% block content %}

<div class="container">
  <div class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
    <h1>Doctor Page</h1>
    <!-- <p class="align-self-end text-danger">
      *To edit data, press 1st column of the row
    </p> -->
  </div>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Degree</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    {% for doctor in doctors %}
    <tr>
      <td>{{doctor}}</td>
      <td>{{doctor.degree}}</td>
      <td><a href="{% url 'update-doctor' doctor.id %}">edit</a></td>
      <td>
        <a href="{% url 'delete-doctor' doctor.id %}"
          ><i class="fa fa-trash-o"></i
        ></a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <button type="button" class="btn btn-success">
    <a class="text-decoration-none text-light" href="{% url 'create-doctor'%}"
      >Create new data</a
    >
  </button>
</div>

{% endblock %}
