{% extends 'main.html' %} {% block content %}

<div class="container">
  <div class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
    <h1>User Page</h1>
    <p class="align-self-end text-danger">
      *To edit data, press 1st column of the row
    </p>
  </div>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Salary</th>
        <th scope="col">Phone</th>
        <!-- <th scope="col">Edit</th> -->
        <th scope="col">Delete</th>
      </tr>
    </thead>
    {% for user in users %}
    <tr>
      <td><a href="{% url 'update-users' user.id %}">{{user}}</a></td>
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.salary}}</td>
      <td>{{user.phone}}</td>
      <!-- <td><a href="{% url 'update-users' user.id %}">edit</a></td> -->
      <td>
        <a href="{% url 'delete-users' user.id %}"
          ><i class="fa fa-trash-o"></i
        ></a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <button type="button" class="btn btn-success">
    <a class="text-decoration-none text-light" href="{% url 'create-users'%}"
      >Create new data</a
    >
  </button>
</div>

{% endblock %}
